# Currency Symbol
NEXT_PUBLIC_CURRENCY_SYMBOL = "₹"
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_c2V0dGxlZC1zaHJldy02LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_Fm4NMCYdUKlPjAChitk54GiFJifGpJcjNTvj8flLeE

MONGOBB_URI='mongodb+srv://FashTech:<db_password>@cluster0.ptlzrjx.mongodb.net'
INNGEST_SINGING_KEY='signkey-prod-d26d677fdd7e2e75c7af89bea77fd5a69181f9a12b1bb67ede6b2fd551765529'
INNGEST_EVENT_KEY='-TcYNv30siHGnKeIHD1f2wI8AJNv5XxcEKeawTIdhwC1j2vVIt_aSX6pyqlAERW4P1rejFS-kvSJQF-f_o0LgA'